@mixin textOverflow ($clomun) {
    display: -webkit-box;
    -webkit-line-clamp: $clomun;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin imgBg ($w, $h, $url) {
    width: $w;
    height: $h;
    background: url(#{$url}) no-repeat;
    background-size: 100%;
}
